<div class="navbar-wrap">
  <div class="navbar-button" [ngClass]="{ 'open' : openedSidebar }" (click)="openSidebar()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <h1 class="page-title">Sygep</h1>

  <div class="nav-items">

    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <a href="#" (click)="open($event)" class="nav-link">
        <div class="avatar"><img src="assets/content/avatar-2.jpg" width="40" height="40" alt=""></div>
        <div class="name">Moustafa Kaber</div>
      </a>

      <div class="dropdown-menu mini-menu">
        <ul>
          <li>
            <a href="#"><span class="icon sli-user"></span> Profile</a>
          </li>
          <li>
            <a href="#" (click)="logout()"><span class="icon sli-logout"></span> Log Out</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="items-overlay" (click)="close($event)"></div>
  </div>
</div>
