<ni-card [title]="'Bienvenue sur Symgep'" [align]="'center'">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input [(ngModel)]="username" name="username" [(ngModel)]="username" matInput placeholder="Username" value="">
    </mat-form-field>

    <mat-form-field>
      <input name="password" [(ngModel)]="password" matInput placeholder="mot de pass" value="" type="password">
    </mat-form-field>

    <div class="text-left mb-module">
      <mat-checkbox>
        Garder ma session ouverte
      </mat-checkbox>
    </div>

    <button ni-button [view]="'accent'" [block]="true">Se connecter</button>

    <div class="additional-info">
      <a href="">Mot de passe oublié?</a>
    </div>
  </form>
</ni-card>
