<ni-card title="Ajouter un Contrat">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="md-icon-left">
        <mat-icon matPrefix>perm_identity</mat-icon>
        <select matInput >
          <option value="">Type de contrat</option>
        </select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="md-icon-left">
        <mat-icon matPrefix>perm_identity</mat-icon>
        <select matInput >
          <option value="">Bien Immobilier</option>
        </select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="md-icon-left">
        <mat-icon matPrefix>perm_identity</mat-icon>
        <select matInput >
          <option value="">Client</option>
        </select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="md-icon-left">
        <mat-icon matPrefix>perm_identity</mat-icon>
        <select matInput >
          <option value="">Etat du contrat</option>
        </select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="md-icon-left">
        <mat-icon matPrefix>perm_identity</mat-icon>
        <input matInput placeholder="Num Contrat" value="">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="md-icon-left">
        <mat-icon matPrefix>people_outline</mat-icon>
        <input matInput placeholder="Duree du contrat" value="">
      </mat-form-field>
    </div>
  </div>




</ni-card>